<h1></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Role(s)</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><% first_name %> <% last_name %></td>
    <td><% roles %></td>
    <td><% email %></td>
    <td><% if current_user.admin_role? %>
        <%= link_to "delete", user, method: :delete %>
        <% end %></td>
  </tr>
  <% end %>
</table>
